/* styles.css */
body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	display: grid;
	justify-content: center;
	align-items: center;
}

.inputBox {
	padding: 10px;
	margin: 5px;
	width: 80%;
	border: 1px solid #ccc;
	border-radius: 5px;
}

button {
	padding: 10px 20px;
	margin: 10px;
	border: none;
	border-radius: 5px;
	background-color: #28a745;
	color: white;
	cursor: pointer;
}

#categorySelection {
	display: none;
}

#battleQuestion {
	display: none;
}

#scoreBoard {
	display: none;
}

#nextButton {
	display: none;
}